<mat-toolbar color="accent">
  <form [formGroup]="searchForm">
    <mat-form-field>
      <mat-label>Filter by pokémon name:</mat-label>
      <input matInput 
        placeholder="Pokemon name"
        formControlName="text"
        (keyup)="onKeyUp()">

        <button *ngIf="searchForm.value.text" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilter()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  </form>
</mat-toolbar>

<div class="pokemon-container">
  <mat-card *ngFor="let pokemon of pokemon$ | async">
    <mat-card-header>
      {{pokemon.name}}
    </mat-card-header>
  </mat-card>
</div>
